Redirect permanent blog/2010/Images-SRS/ 2010/Images-SRS/

Redirect permanent blog/2010/10/12/hospital.html 2010/10/12/hospital/
Redirect permanent blog/2010/10/12/shower.html 2010/10/12/shower/
Redirect permanent blog/2010/10/12/dilation.html 2010/10/12/dilation/
Redirect permanent blog/2010/10/02/thailand.html 2010/10/02/thailand/
Redirect permanent blog/2010/10/04/today.html 2010/10/04/today/
Redirect permanent blog/2010/10/06/alive.html 2010/10/06/alive/
Redirect permanent blog/2010/10/03/hospital.html 2010/10/03/hospital/
Redirect permanent blog/2010/10/03/photos.html 2010/10/03/photos/
Redirect permanent blog/2010/10/14/back-to-normal.html 2010/10/14/back-to-normal/
Redirect permanent blog/2010/10/19/update.html 2010/10/19/update/
Redirect permanent blog/2010/10/22/revision.html 2010/10/22/revision/
Redirect permanent blog/2010/10/09/difficult-days.html 2010/10/09/difficult-days/
Redirect permanent blog/2010/10/09/pain.html 2010/10/09/pain/
Redirect permanent blog/2010/10/13/hormones.html 2010/10/13/hormones/
Redirect permanent blog/2010/10/13/pattaya.html 2010/10/13/pattaya/
Redirect permanent blog/2010/10/13/meal.html 2010/10/13/meal/
Redirect permanent blog/2010/10/13/medecine.html 2010/10/13/medecine/
Redirect permanent blog/2010/12/03/dream.html 2010/12/03/dream/
Redirect permanent blog/2010/12/09/censorship.html 2010/12/09/censorship/
Redirect permanent blog/2010/11/08/end-of-srs.html 2010/11/08/end-of-srs/
Redirect permanent blog/2010/09/07/design-patterns.html 2010/09/07/design-patterns/
Redirect permanent blog/2010/09/07/prototypes.html 2010/09/07/prototypes/
Redirect permanent blog/2010/09/28/probleme-fedora-14.html 2010/09/28/probleme-fedora-14/
Redirect permanent blog/2010/09/29/voyage.html 2010/09/29/voyage/
Redirect permanent blog/2010/09/06/aliasing-strings-in-lisaac.html 2010/09/06/aliasing-strings-in-lisaac/
Redirect permanent blog/2010/09/05/first-post.html 2010/09/05/first-post/
Redirect permanent blog/2010/09/15/problemes-de-performance.html 2010/09/15/problemes-de-performance/
Redirect permanent blog/2011/02/11/section-interface.html 2011/02/11/section-interface/
Redirect permanent blog/2011/03/29/pipe-e.html 2011/03/29/pipe-e/
Redirect permanent blog/2011/03/23/freedombox-connectivity.html 2011/03/23/freedombox-connectivity/
Redirect permanent blog/2011/03/22/update-bind-dns-from-avahi.html 2011/03/22/update-bind-dns-from-avahi/
Redirect permanent blog/2011/03/22/freedombox.html 2011/03/22/freedombox/
Redirect permanent blog/2011/01/26/how-i-would-want-blocks-in-lisaac.html 2011/01/26/how-i-would-want-blocks-in-lisaac/

Redirect permanent blog/atom.xml /atom.xml

Redirect permanent blog/index.html  /Blog/
Redirect permanent blog/index2.html /Blog/2/
Redirect permanent blog/index3.html /Blog/3/
Redirect permanent blog/index4.html /Blog/4/
Redirect permanent blog/ /Blog/

Redirect permanent tags/dev.html     /tags/dev/
Redirect permanent tags/dev2.html    /tags/dev/
Redirect permanent tags/fr.html      /tags/fr/
Redirect permanent tags/fr2.html     /tags/fr/
Redirect permanent tags/comp.html    /tags/comp/
Redirect permanent tags/comp2.html   /tags/comp/
Redirect permanent tags/en.html      /tags/en/
Redirect permanent tags/en2.html     /tags/en/
Redirect permanent tags/en3.html     /tags/en/
Redirect permanent tags/lisaac.html  /tags/lisaac/
Redirect permanent tags/lisaac2.html /tags/lisaac/
Redirect permanent tags/dream.html   /tags/dream/
Redirect permanent tags/photos.html  /tags/photos/
Redirect permanent tags/photos2.html /tags/photos/
Redirect permanent tags/fedora.html  /tags/fedora/
Redirect permanent tags/fedora2.html /tags/fedora/
Redirect permanent tags/srs.html     /tags/srs/
Redirect permanent tags/srs2.html    /tags/srs/
Redirect permanent tags/freedombox.html /tags/freedombox/
Redirect permanent tags/             /tags/

Redirect permanent Images/ /Images/



# index2.html
# index4.html
# tags
# tags/dev.html
# tags/dev2.html
# tags/fr.html
# tags/comp2.html
# tags/en.html
# tags/fr2.html
# tags/en3.html
# tags/lisaac.html
# tags/dream.html
# tags/lisaac2.html
# tags/photos2.html
# tags/en2.html
# tags/fedora.html
# tags/photos.html
# tags/srs2.html
# tags/fedora2.html
# tags/freedombox.html
# tags/comp.html
# tags/srs.html
# index.html
# blog
# blog/2010
# blog/2010/10
# blog/2010/10/12
# blog/2010/10/12/hospital.html
# blog/2010/10/12/shower.html
# blog/2010/10/12/dilation.html
# blog/2010/10/index2.html
# blog/2010/10/02
# blog/2010/10/02/thailand.html
# blog/2010/10/04
# blog/2010/10/04/today.html
# blog/2010/10/index4.html
# blog/2010/10/06
# blog/2010/10/06/alive.html
# blog/2010/10/03
# blog/2010/10/03/hospital.html
# blog/2010/10/03/photos.html
# blog/2010/10/14
# blog/2010/10/14/back-to-normal.html
# blog/2010/10/19
# blog/2010/10/19/update.html
# blog/2010/10/index.html
# blog/2010/10/22
# blog/2010/10/22/revision.html
# blog/2010/10/index3.html
# blog/2010/10/09
# blog/2010/10/09/difficult-days.html
# blog/2010/10/09/pain.html
# blog/2010/10/13
# blog/2010/10/13/hormones.html
# blog/2010/10/13/pattaya.html
# blog/2010/10/13/meal.html
# blog/2010/10/13/medecine.html
# blog/2010/12
# blog/2010/12/index2.html
# blog/2010/12/index4.html
# blog/2010/12/03
# blog/2010/12/03/dream.html
# blog/2010/12/index.html
# blog/2010/12/index3.html
# blog/2010/12/09
# blog/2010/12/09/censorship.html
# blog/2010/11
# blog/2010/11/08
# blog/2010/11/08/end-of-srs.html
# blog/2010/11/index2.html
# blog/2010/11/index4.html
# blog/2010/11/index.html
# blog/2010/11/index3.html
# blog/2010/index2.html
# blog/2010/index4.html
# blog/2010/index.html
# blog/2010/index3.html
# blog/2010/09
# blog/2010/09/07
# blog/2010/09/07/design-patterns.html
# blog/2010/09/07/prototypes.html
# blog/2010/09/28
# blog/2010/09/28/probleme-fedora-14.html
# blog/2010/09/index2.html
# blog/2010/09/29
# blog/2010/09/29/voyage.html
# blog/2010/09/index4.html
# blog/2010/09/06
# blog/2010/09/06/aliasing-strings-in-lisaac.html
# blog/2010/09/05
# blog/2010/09/05/first-post.html
# blog/2010/09/index.html
# blog/2010/09/index3.html
# blog/2010/09/15
# blog/2010/09/15/problemes-de-performance.html
# blog/atom.xml
# blog/2011
# blog/2011/index2.html
# blog/2011/02
# blog/2011/02/11
# blog/2011/02/11/section-interface.html
# blog/2011/02/index2.html
# blog/2011/02/index4.html
# blog/2011/02/index.html
# blog/2011/02/index3.html
# blog/2011/index4.html
# blog/2011/03
# blog/2011/03/index2.html
# blog/2011/03/29
# blog/2011/03/29/pipe-e.html
# blog/2011/03/index4.html
# blog/2011/03/23
# blog/2011/03/23/freedombox-connectivity.html
# blog/2011/03/index.html
# blog/2011/03/22
# blog/2011/03/22/update-bind-dns-from-avahi.html
# blog/2011/03/22/freedombox.html
# blog/2011/03/index3.html
# blog/2011/index.html
# blog/2011/index3.html
# blog/2011/01
# blog/2011/01/26
# blog/2011/01/26/how-i-would-want-blocks-in-lisaac.html
# blog/2011/01/index2.html
# blog/2011/01/index4.html
# blog/2011/01/index.html
# blog/2011/01/index3.html
# index3.html

