Redirect gone /Blog/blog/2010/Images-SRS/
Redirect gone /Blog/2010/Images-SRS/

Redirect permanent /Blog/blog/2010/10/12/hospital.html http://mildred.fr/Blog/2010/10/12/hospital/
Redirect permanent /Blog/blog/2010/10/12/shower.html http://mildred.fr/Blog/2010/10/12/shower/
Redirect permanent /Blog/blog/2010/10/12/dilation.html http://mildred.fr/Blog/2010/10/12/dilation/
Redirect permanent /Blog/blog/2010/10/02/thailand.html http://mildred.fr/Blog/2010/10/02/thailand/
Redirect permanent /Blog/blog/2010/10/04/today.html http://mildred.fr/Blog/2010/10/04/today/
Redirect permanent /Blog/blog/2010/10/06/alive.html http://mildred.fr/Blog/2010/10/06/alive/
Redirect permanent /Blog/blog/2010/10/03/hospital.html http://mildred.fr/Blog/2010/10/03/hospital/
Redirect permanent /Blog/blog/2010/10/03/photos.html http://mildred.fr/Blog/2010/10/03/photos/
Redirect permanent /Blog/blog/2010/10/14/back-to-normal.html http://mildred.fr/Blog/2010/10/14/back-to-normal/
Redirect permanent /Blog/blog/2010/10/19/update.html http://mildred.fr/Blog/2010/10/19/update/
Redirect permanent /Blog/blog/2010/10/22/revision.html http://mildred.fr/Blog/2010/10/22/revision/
Redirect permanent /Blog/blog/2010/10/09/difficult-days.html http://mildred.fr/Blog/2010/10/09/difficult-days/
Redirect permanent /Blog/blog/2010/10/09/pain.html http://mildred.fr/Blog/2010/10/09/pain/
Redirect permanent /Blog/blog/2010/10/13/hormones.html http://mildred.fr/Blog/2010/10/13/hormones/
Redirect permanent /Blog/blog/2010/10/13/pattaya.html http://mildred.fr/Blog/2010/10/13/pattaya/
Redirect permanent /Blog/blog/2010/10/13/meal.html http://mildred.fr/Blog/2010/10/13/meal/
Redirect permanent /Blog/blog/2010/10/13/medecine.html http://mildred.fr/Blog/2010/10/13/medecine/
Redirect permanent /Blog/blog/2010/12/03/dream.html http://mildred.fr/Blog/2010/12/03/dream/
Redirect permanent /Blog/blog/2010/12/09/censorship.html http://mildred.fr/Blog/2010/12/09/censorship/
Redirect permanent /Blog/blog/2010/11/08/end-of-srs.html http://mildred.fr/Blog/2010/11/08/end-of-srs/
Redirect permanent /Blog/blog/2010/09/07/design-patterns.html http://mildred.fr/Blog/2010/09/07/design-patterns/
Redirect permanent /Blog/blog/2010/09/07/prototypes.html http://mildred.fr/Blog/2010/09/07/prototypes/
Redirect permanent /Blog/blog/2010/09/28/probleme-fedora-14.html http://mildred.fr/Blog/2010/09/28/probleme-fedora-14/
Redirect permanent /Blog/blog/2010/09/29/voyage.html http://mildred.fr/Blog/2010/09/29/voyage/
Redirect permanent /Blog/blog/2010/09/06/aliasing-strings-in-lisaac.html http://mildred.fr/Blog/2010/09/06/aliasing-strings-in-lisaac/
Redirect permanent /Blog/blog/2010/09/05/first-post.html http://mildred.fr/Blog/2010/09/05/first-post/
Redirect permanent /Blog/blog/2010/09/15/problemes-de-performance.html http://mildred.fr/Blog/2010/09/15/problemes-de-performance/
Redirect permanent /Blog/blog/2011/02/11/section-interface.html http://mildred.fr/Blog/2011/02/11/section-interface/
Redirect permanent /Blog/blog/2011/03/29/pipe-e.html http://mildred.fr/Blog/2011/03/29/pipe-e/
Redirect permanent /Blog/blog/2011/03/23/freedombox-connectivity.html http://mildred.fr/Blog/2011/03/23/freedombox-connectivity/
Redirect permanent /Blog/blog/2011/03/22/update-bind-dns-from-avahi.html http://mildred.fr/Blog/2011/03/22/update-bind-dns-from-avahi/
Redirect permanent /Blog/blog/2011/03/22/freedombox.html http://mildred.fr/Blog/2011/03/22/freedombox/
Redirect permanent /Blog/blog/2011/01/26/how-i-would-want-blocks-in-lisaac.html http://mildred.fr/Blog/2011/01/26/how-i-would-want-blocks-in-lisaac/

Redirect permanent /Blog/blog/atom.xml http://mildred.fr/atom.xml

Redirect permanent /Blog/blog/index.html  http://mildred.fr/Blog/
Redirect permanent /Blog/blog/index2.html http://mildred.fr/Blog/2/
Redirect permanent /Blog/blog/index3.html http://mildred.fr/Blog/3/
Redirect permanent /Blog/blog/index4.html http://mildred.fr/Blog/4/
# Redirect permanent /Blog/blog/ http://mildred.fr/Blog/

Redirect permanent /Blog/tags/dev.html     http://mildred.fr/tags/dev/
Redirect permanent /Blog/tags/dev2.html    http://mildred.fr/tags/dev/
Redirect permanent /Blog/tags/fr.html      http://mildred.fr/tags/fr/
Redirect permanent /Blog/tags/fr2.html     http://mildred.fr/tags/fr/
Redirect permanent /Blog/tags/comp.html    http://mildred.fr/tags/comp/
Redirect permanent /Blog/tags/comp2.html   http://mildred.fr/tags/comp/
Redirect permanent /Blog/tags/en.html      http://mildred.fr/tags/en/
Redirect permanent /Blog/tags/en2.html     http://mildred.fr/tags/en/
Redirect permanent /Blog/tags/en3.html     http://mildred.fr/tags/en/
Redirect permanent /Blog/tags/lisaac.html  http://mildred.fr/tags/lisaac/
Redirect permanent /Blog/tags/lisaac2.html http://mildred.fr/tags/lisaac/
Redirect permanent /Blog/tags/dream.html   http://mildred.fr/tags/dream/
Redirect permanent /Blog/tags/photos.html  http://mildred.fr/tags/photos/
Redirect permanent /Blog/tags/photos2.html http://mildred.fr/tags/photos/
Redirect permanent /Blog/tags/fedora.html  http://mildred.fr/tags/fedora/
Redirect permanent /Blog/tags/fedora2.html http://mildred.fr/tags/fedora/
Redirect permanent /Blog/tags/srs.html     http://mildred.fr/tags/srs/
Redirect permanent /Blog/tags/srs2.html    http://mildred.fr/tags/srs/
Redirect permanent /Blog/tags/freedombox.html http://mildred.fr/tags/freedombox/
Redirect permanent /Blog/tags/             http://mildred.fr/tags/

Redirect permanent /Blog/Images/ http://mildred.fr/Images/

