[submodule "static/Scripts/json"]
	path = static/Scripts/json
	url = https://github.com/douglascrockford/JSON-js.git
[submodule "webgen"]
	path = webgen
	url = git@github.com:mildred/webgen.git
[submodule "wwwsupport"]
	path = wwwsupport
	url = git@git.mildred.fr:pub/mildred/wwwsupport.git
