---
template: ~
---
!!! 5
%html
  %head
  %body
    %h1=  "page #{dest_node.node_info[:page_num]}"
    - dest_node.node_info[:sub_nodes].each do |sub_node|
      %div= block(:content, :chain => sub_node)
