Redirect permanent /tags/dev.html     http://mildred.fr/tags/dev/
Redirect permanent /tags/dev2.html    http://mildred.fr/tags/dev/
Redirect permanent /tags/fr.html      http://mildred.fr/tags/fr/
Redirect permanent /tags/fr2.html     http://mildred.fr/tags/fr/
Redirect permanent /tags/comp.html    http://mildred.fr/tags/comp/
Redirect permanent /tags/comp2.html   http://mildred.fr/tags/comp/
Redirect permanent /tags/en.html      http://mildred.fr/tags/en/
Redirect permanent /tags/en2.html     http://mildred.fr/tags/en/
Redirect permanent /tags/en3.html     http://mildred.fr/tags/en/
Redirect permanent /tags/lisaac.html  http://mildred.fr/tags/lisaac/
Redirect permanent /tags/lisaac2.html http://mildred.fr/tags/lisaac/
Redirect permanent /tags/dream.html   http://mildred.fr/tags/dream/
Redirect permanent /tags/photos.html  http://mildred.fr/tags/photos/
Redirect permanent /tags/photos2.html http://mildred.fr/tags/photos/
Redirect permanent /tags/fedora.html  http://mildred.fr/tags/fedora/
Redirect permanent /tags/fedora2.html http://mildred.fr/tags/fedora/
Redirect permanent /tags/srs.html     http://mildred.fr/tags/srs/
Redirect permanent /tags/srs2.html    http://mildred.fr/tags/srs/
Redirect permanent /tags/freedombox.html http://mildred.fr/tags/freedombox/

Redirect permanent /articles/2011-04-11-update_to_nanoc/          http://mildred.fr/Blog/2011/04/11/update_to_nanoc/
Redirect permanent /articles/2011-04-12-lysaac_and_clusters/      http://mildred.fr/Blog/2011/04/12/lysaac_and_clusters/
Redirect permanent /articles/2011-04-20-clusters_in_lysaac_works/ http://mildred.fr/Blog/2011/04/20/clusters_in_lysaac_works/
Redirect permanent /articles/2011-07-25-les_adresses_utiles/      http://mildred.fr/Blog/2011/07/25/les_adresses_utiles/

