= block(:content, :render => "/article-meta.template")
.excerpt
  - excerpt = block(:excerpt, :notfound => :nil)
  - if excerpt.nil?
    ~ block(:content, :notfound => :ignore)
  - else
    ~ excerpt
    %p
      %a{:href => link_item(node)}= node['teaser_separator'] || "Continue Reading ..."

